<%= form_with(model: albuminfo) do |form| %>
  <% if albuminfo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(albuminfo.errors.count, "error") %> prohibited this albuminfo from being saved:</h2>

      <ul>
        <% albuminfo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :artists %>
    <%= form.text_area :artists %>
  </div>

  <div class="field">
    <%= form.label :cover %>
    <%= form.text_area :cover %>
  </div>

  <div class="field">
    <%= form.label :duration %>
    <%= form.time_select :duration %>
  </div>

  <div class="field">
    <%= form.label :tracks %>
    <%= form.number_field :tracks %>
  </div>

  <div class="field">
    <%= form.label :release %>
    <%= form.number_field :release %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
