<%= simple_form_for(@albuminfo) do |f| %>

  <section class="formulaire">
    <div class="champs">

      <div class="info">
        <%= f.input :title %>
      </div>
      <div class="info">
        <%= f.input :artists %>
      </div>
      <div class="info">
        <%= f.input :release %>
      </div>
      <div class="info">
        <%= f.input :tracks %>
      </div>
      <div class="info">
        <%= f.input :duration %>
      </div>

    </div>

    <div class="cover">
      <%= f.input :cover %>
    </div>

  </section>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
