<p id="notice"><%= notice %></p>

<h1>Albuminfos</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Artists</th>
      <th>Cover</th>
      <th>Duration</th>
      <th>Tracks</th>
      <th>Release</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @albuminfos.each do |albuminfo| %>
      <tr>
        <td><%= albuminfo.title %></td>
        <td><%= albuminfo.artists %></td>
        <td><%= albuminfo.cover %></td>
        <td><%= albuminfo.duration %></td>
        <td><%= albuminfo.tracks %></td>
        <td><%= albuminfo.release %></td>
        <td><%= link_to 'Show', albuminfo %></td>
        <td><%= link_to 'Edit', edit_albuminfo_path(albuminfo) %></td>
        <td><%= link_to 'Destroy', albuminfo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Albuminfo', new_albuminfo_path %>
