<div class="header">
  <span class="title"><%= link_to 'Safe and Sound', home_index_path, :class => "title" %></span>

  <div class="menu">
    <div class="btn_new">
      <%= link_to 'Nouvel album', new_albuminfo_path, :class => "btn" %>
    </div>

    <div class="btn_liste">
      <%= link_to 'Liste', albuminfos_path, :class => "btn" %>
    </div>
  </div>

</div>

<h1>Liste des albums</h1>


  <% @albuminfos.each do |albuminfo| %>

      <div class="album">

        <img src="<%= albuminfo.cover %>">

        <div class="liste_index">

          <div class="ligne1">
            <div class="titre">
              <%= albuminfo.title %>
            </div>
            <div class="artiste">
              <%= albuminfo.artists %>
            </div>
          </div>

          <div class="ligne2">
            <div class="durée">
              <%= albuminfo.duration.strftime('%H:%M:%S') %>
            </div>
            <div class="tracks">
              <%= albuminfo.tracks %> titres
            </div>
            <div class="release">
              <%= albuminfo.release %>
            </div>
          </div>

          <div class="options">
            <%= link_to 'Fiche album', albuminfo, :class => "btn"%>
            <%= link_to 'Modifier', edit_albuminfo_path(albuminfo), :class => "btn" %>
            <%= link_to 'Supprimer', albuminfo, :class => "btn", method: :delete, data: { confirm: 'Etes vous sûr de vouloir supprimer ?' } %>
          </div>

        </div>
      </div>
    <% end %>

<br>
