<div class="header">
  <span class="title"><%= link_to 'Safe and Sound', home_index_path, :class => "title" %></span>

  <div class="menu">
    <div class="btn_new">
      <%= link_to 'Nouvel album', new_albuminfo_path, :class => "btn" %>
    </div>

    <div class="btn_liste">
      <%= link_to 'Liste', albuminfos_path, :class => "btn" %>
    </div>
  </div>

</div>

<h1>Nouvel album</h1>

<%= render 'form', albuminfo: @albuminfo%>

<div class="btn_creer">
  <%= link_to 'Retour', albuminfos_path, :class => "btn" %>
</div>
