<div class="header">
  <span><%= link_to 'Safe and Sound', home_index_path %></span>

  <div class="menu">
    <div class="btn_new btn">
      <%= link_to 'Nouvel album', new_albuminfo_path %>
    </div>

    <div class="btn_liste btn">
      <%= link_to 'Liste', albuminfos_path %>
    </div>
  </div>

</div>

<p id="notice"><%= notice %></p>

<div class="liste_show">

  <div class="pochette">
    <img src="<%= @albuminfo.cover %>">
  </div>

  <div class="liste_infos">

    <div class="info_liste, titre">
      <%= @albuminfo.title %>
    </div>

    <div class="info_liste, artiste">
      <%= @albuminfo.artists %>
    </div>

    <div class="info_liste, durée">
      <%= @albuminfo.duration.strftime('%H:%M:%S') %>
    </div>

    <div class="info_liste, tracks">
      <%= @albuminfo.tracks %> titres
    </div>

    <div class="info_liste, release">
      <%= @albuminfo.release %>
    </div>
  </div>

</div>

<%= link_to 'Modifier', edit_albuminfo_path(@albuminfo), :class => "btn" %> |
<%= link_to 'Retour à la liste', albuminfos_path, :class => "btn" %>
